<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUKY</title>
    <link rel="stylesheet" href="/css/perfil.css">
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/Acerca">Acerca de</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="/Perfil">Mi Perfil</a></li>
            </ul>
        </nav>
    </header>
    <section class="perfil-usuario">
        <div class="contenedor-perfil">
            <div class="portada-perfil">
                <div class="sombra"></div>
                <div class="avatar-perfil">
                    <img src="http://localhost/multimedia/relleno/img-c9.png" alt="img">
                </div>
                <div class="datos-perfil">
                    <h4 class="titulo-usuario">
                        <%= user.nombres %> <%= user.apellidoPaterno %> <%= user.apellidoMaterno %>
                    </h4>
                    <p class="bio-usuario">
                        <%= user.email %>
                    </p>
                    <p class="bio-usuario">Fecha de creación: <%= user.fechaCreacion %></p>
                </div>
            </div>
            <div class="menu-perfil">
                <ul>
                    <li><button id="agregar-publicacion">Agregar Publicación</button></li>
                    <li><a href="#" title="Cerrar Sesión" onclick="document.getElementById('logout-form').submit();"><i class="icono-perfil fas fa-bullhorn"></i> Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>

        <section class="posts-container" id="posts-container">
            <% if (publicaciones.length === 0) { %>
                <p>Aún no has publicado nada.</p>
            <% } else { %>
                <% publicaciones.forEach(publicacion => { %>
                    <div class="post">
                        <h3><%= publicacion.tituloP %></h3>
                        <p><%= publicacion.descripcion %></p>
                        <p>Precio Inicial: <%= publicacion.precioI %></p>
                        <p>Precio Final: <%= publicacion.precioF %></p>
                        <p>Valoración: <%= publicacion.valoracion %></p>
                    </div>
                <% }) %>
            <% } %>
        </section>

        <!-- Sección de modal del HTML -->
        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <form id="modal-form" method="post" action="/post/publicar">
                    <h1>Agrega una publicación</h1>
                    <input type="text" id="tituloP" name="tituloP" placeholder="Título Publicación"><br>
                    <input type="text" id="descripcion" name="descripcion" placeholder="Descripción"><br>
                    <input type="text" id="precioI" name="precioI" placeholder="Precio Inicial"><br>
                    <input type="text" id="precioF" name="precioF" placeholder="Precio Final"><br>
                    <select id="input5" name="categoriaID">
                        <option value="" disabled selected>Seleccione una opción</option>
                        <% categorias.forEach(categoria => { %>
                            <option value="<%= categoria.ID %>"><%= categoria.tipoCategoria %></option>
                        <% }) %>
                    </select><br>
                    <button type="submit" id="submit-button">Agregar Publicación</button>
                </form>
                <p id="modalMessage" style="color: red;"></p> <!-- Mensaje de error -->
            </div>
        </div>
    </section>
    <footer>
        <p>&copy; 2024 LUKY. Todos los derechos reservados.</p>
    </footer>
    <form id="logout-form" action="/auth/logout" method="POST" style="display: none;"></form>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Elementos del modal
            const modal = document.getElementById("modal");
            const closeButton = document.getElementsByClassName("close")[0];
            const modalMessage = document.getElementById("modalMessage");

            // Mostrar el modal
            document.getElementById('agregar-publicacion').addEventListener('click', function () {
                modal.style.display = "block";
            });

            // Cerrar el modal
            closeButton.onclick = function () {
                modal.style.display = "none";
            }

            window.onclick = function (event) {
                if (event.target === modal) {
                    modal.style.display = "none";
                }
            }

            // ACTIVACION DE MODAL SCRIPT PARA LA CARGA
            document.getElementById('modal-form').addEventListener('submit', function (event) {
                let isValid = true;
                let errorMessage = "Por favor complete los siguientes campos:\n";

                const tituloP = document.getElementById('tituloP');
                if (tituloP.value.trim() === '') {
                    isValid = false;
                    errorMessage += "- Título de la Publicación\n";
                }

                const descripcion = document.getElementById('descripcion');
                if (descripcion.value.trim() === '') {
                    isValid = false;
                    errorMessage += "- Descripción\n";
                }

                const precioI = document.getElementById('precioI');
                if (precioI.value.trim() === '') {
                    isValid = false;
                    errorMessage += "- Precio Inicial\n";
                }

                const input5 = document.getElementById('input5');
                if (input5.value === '') {
                    isValid = false;
                    errorMessage += "- Selección de Opción\n";
                }

                const precioF = document.getElementById('precioF');
                if (precioF.value.trim() === '') {
                    isValid = false;
                    errorMessage += "- Precio Final\n";
                }

                if (!isValid) {
                    event.preventDefault();
                    showModal(errorMessage);
                }
            });

            // Función para mostrar el modal con un mensaje
            function showModal(message) {
                modalMessage.textContent = message;
                modal.style.display = "block";
            }
        });
    </script>
</body>

</html>