<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUKY</title>
    <link rel="stylesheet" href="/css/perfil.css">
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/Acerca">Acerca de</a></li>
                <li><a href="/Busqueda">Servicios</a></li>
                <li><a href="/Perfil">Mi Perfil</a></li>
            </ul>
        </nav>
    </header>
    <section class="perfil-usuario">
        <div class="contenedor-perfil">
            <div class="portada-perfil">
                <div class="sombra"></div>
                <div class="avatar-perfil">
                    <img src="http://localhost/multimedia/relleno/img-c9.png" alt="img">
                </div>
                <div class="datos-perfil">
                    <h4 class="titulo-usuario">
                        <%= user.nombres %> <%= user.apellidoPaterno %> <%= user.apellidoMaterno %>
                    </h4>
                    <p class="bio-usuario">
                        <%= user.email %>
                    </p>
                    <p class="bio-usuario">Fecha de creación: <%= user.fechaCreacion %></p>
                </div>
            </div>
            <div class="menu-perfil">
                <ul>
                    <li><a id="agregar-publicacion"> <i class="icono-perfil fas fa-bullhorn"></i> Agregar Publicación</a></li>
                    <li><a id="editar-perfil"> <i class="icono-perfil fas fa-bullhorn"></i> Editar Perfil</a></li>
                    <li><a href="#" title="Cerrar Sesión" onclick="document.getElementById('logout-form').submit();"><i class="icono-perfil fas fa-bullhorn"></i> Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>

        <div class="posts-container" id="posts-container">
            <% if (publicaciones.length === 0) { %>
                <p>Aún no has publicado nada.</p>
            <% } else { %>
                <% publicaciones.forEach(publicacion => { %>
                    <div class="post" id="post-<%= publicacion.id %>" data-id="<%= publicacion.id %>">
                        <h3><%= publicacion.tituloP %></h3>
                        <p><%= publicacion.descripcion %></p>
                        <p>Precio Inicial: <%= publicacion.precioI %></p>
                        <p>Precio Final: <%= publicacion.precioF %></p>
                        <p>Valoración: <%= publicacion.valoracion %></p>
                        <div class="post-buttons">
                            <button class="edit-btn">Editar Publicación</button>
                            <button class="delete-btn" onclick="openDeleteModal('<%= publicacion.id %>')">Eliminar Publicación</button>

                        </div>
                    </div>
                <% }) %>
            <% } %>
        </div>

        <!-- Modal para agregar publicación -->
        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close" id="close-add-modal">&times;</span>
                <form id="modal-form" method="post" action="/post/publicar">
                    <h1>Agrega una publicación</h1>
                    <input type="text" id="tituloP" name="tituloP" placeholder="Título Publicación"><br>
                    <input type="text" id="descripcion" name="descripcion" placeholder="Descripción"><br>
                    <input type="text" id="precioI" name="precioI" placeholder="Precio Inicial"><br>
                    <input type="text" id="precioF" name="precioF" placeholder="Precio Final"><br>
                    <select id="input5" name="categoriaID">
                        <option value="" disabled selected>Seleccione una opción</option>
                        <% categorias.forEach(categoria => { %>
                            <option value="<%= categoria.ID %>"><%= categoria.tipoCategoria %></option>
                        <% }) %>
                    </select><br>
                    <button type="submit" id="submit-button">Agregar Publicación</button>
                </form>
                <p id="modalMessage" style="color: red;"></p> <!-- Mensaje de error -->
            </div>
        </div>

        <!-- Modal para editar publicación -->
        <div id="edit-modal" class="modal">
            <div class="modal-content">
                <span class="close" id="close-edit-modal">&times;</span>
                <form id="edit-modal-form" method="post" action="/post/editar">
                    <h1>Editar publicación</h1>
                    <input type="hidden" id="edit-id" name="id">
                    <input type="text" id="edit-tituloP" name="tituloP" placeholder="Título Publicación"><br>
                    <input type="text" id="edit-descripcion" name="descripcion" placeholder="Descripción"><br>
                    <input type="text" id="edit-precioI" name="precioI" placeholder="Precio Inicial"><br>
                    <input type="text" id="edit-precioF" name="precioF" placeholder="Precio Final"><br>
                    <select id="edit-input5" name="categoriaID">
                        <option value="" disabled selected>Seleccione una opción</option>
                        <% categorias.forEach(categoria => { %>
                            <option value="<%= categoria.ID %>"><%= categoria.tipoCategoria %></option>
                        <% }) %>
                    </select><br>
                    <button type="submit" id="edit-submit-button">Guardar Cambios</button>
                </form>
                <p id="edit-modalMessage" style="color: red;"></p> <!-- Mensaje de error -->
            </div>
        </div>

                <!-- Modal de Eliminación -->
        <div id="deleteModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeDeleteModal()">&times;</span>
                <h2>Confirmar publicación</h2>
                <p>¿Estás seguro de que deseas eliminar esta publicación?</p>
                <div class="modal-buttons">
                    <button id="confirmDeleteButton" class="button">Confirmar</button>
                    <button class="button cancel-btn" onclick="closeDeleteModal()">Cancelar</button>
                </div>
            </div>
        </div>

    </section>
    <footer>
        <p>&copy; 2024 LUKY. Todos los derechos reservados.</p>
    </footer>
    <form id="logout-form" action="/auth/logout" method="POST" style="display: none;"></form>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Elementos del modal para agregar publicación
            const modal = document.getElementById("modal");
            const closeAddModalButton = document.getElementById("close-add-modal");
            const modalMessage = document.getElementById("modalMessage");

            // Elementos del modal para editar publicación
            const editModal = document.getElementById("edit-modal");
            const closeEditModalButton = document.getElementById("close-edit-modal");
            const editModalMessage = document.getElementById("edit-modalMessage");

            // Mostrar el modal para agregar publicación
            document.getElementById('agregar-publicacion').addEventListener('click', function () {
                modal.style.display = "block";
            });

            // Cerrar el modal para agregar publicación
            closeAddModalButton.onclick = function () {
                modal.style.display = "none";
            }

            // Cerrar el modal para editar publicación
            closeEditModalButton.onclick = function () {
                editModal.style.display = "none";
            }

            window.onclick = function (event) {
                if (event.target === modal) {
                    modal.style.display = "none";
                } else if (event.target === editModal) {
                    editModal.style.display = "none";
                } else if (event.target === document.getElementById('deleteModal')) {
                    closeDeleteModal();
                }
            }

            // Mostrar el modal para editar publicación
            document.querySelectorAll('.edit-btn').forEach(button => {
                button.addEventListener('click', function () {
                    const post = this.closest('.post');
                    const id = post.getAttribute('data-id');
                    const tituloP = post.querySelector('h3').textContent;
                    const descripcion = post.querySelectorAll('p')[0].textContent;
                    const precioI = post.querySelectorAll('p')[1].textContent.split(': ')[1];
                    const precioF = post.querySelectorAll('p')[2].textContent.split(': ')[1];

                    document.getElementById('edit-id').value = id;
                    document.getElementById('edit-tituloP').value = tituloP;
                    document.getElementById('edit-descripcion').value = descripcion;
                    document.getElementById('edit-precioI').value = precioI;
                    document.getElementById('edit-precioF').value = precioF;

                    editModal.style.display = "block";
                });
            });

            // Manejar el envío del formulario de edición
            document.getElementById('edit-modal-form').addEventListener('submit', function (event) {
                // Implementa la lógica para enviar los cambios al backend aquí
            });
        });

        let deletePostId = null;

        function openDeleteModal(postId) {
            deletePostId = postId;
            document.getElementById('deleteModal').style.display = 'block';
        }

        function closeDeleteModal() {
            deletePostId = null;
            document.getElementById('deleteModal').style.display = 'none';
        }

        document.getElementById('confirmDeleteButton').addEventListener('click', confirmDelete);

        function confirmDelete() {
            if (deletePostId) {
                fetch(`/api/deletePost/${deletePostId}`, {
                    method: 'DELETE'
                })
                .then(response => {
                    if (response.ok) {
                        document.getElementById(`post-${deletePostId}`).remove();
                        closeDeleteModal();
                        alert(`Publicación con ID ${deletePostId} eliminada`);
                    } else {
                        alert('Error al eliminar la publicación');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Error al eliminar la publicación');
                });
            }
        }
    </script>
</body>
</html>
