<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUKY</title>
    <link rel="stylesheet" href="/css/perfil.css">
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <section class="perfil-usuario">
        <div class="contenedor-perfil">
            <div class="portada-perfil">
                <div class="sombra"></div>
                <div class="avatar-perfil">
                    <img src="http://localhost/multimedia/relleno/img-c9.png" alt="img">
                </div>
                <div class="datos-perfil">
                    <h4 class="titulo-usuario">
                        <%= user.nombres %>
                            <%= user.apellidoPaterno %>
                                <%= user.apellidoMaterno %>
                    </h4>
                    <p class="bio-usuario">
                        <%= user.email %>
                    </p>
                    <p class="bio-usuario">Fecha de creación: <%= user.fechaCreacion %>
                    </p>
                </div>
            </div>
            <div class="menu-perfil">
                <ul>
                    <li>  <button id="agregar-publicacion" >Agregar Publicación</button></li>
                    <li><a href="#" title="Cerrar Sesión" onclick="document.getElementById('logout-form').submit();"><i
                                class="icono-perfil fas fa-bullhorn"></i> Cerrar Sesion</a></li>
                </ul>
            </div>
        </div>

        <section class="posts-container" id="posts-container">
            <% if (publicaciones.length === 0) { %>
                <p>Aún no has publicado nada.</p>
                <% } else { %>
                    <% publicaciones.forEach(publicacion=> { %>
                        <div class="post">
                            <h3>
                                <%= publicacion.tituloP %>
                            </h3>
                            <p>
                                <%= publicacion.descripcion %>
                            </p>
                            <p>Precio Inicial: <%= publicacion.precioI %>
                            </p>
                            <p>Precio Final: <%= publicacion.precioF %>
                            </p>
                            <p>Valoración: <%= publicacion.valoracion %>
                            </p>
                        </div>
                        <% }) %>
                            <% } %>
        </section>
        <!--Seccion de modal del HTML-->
        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <form id="modal-form" method="post" action="/post/publicar">
                    <input type="text" id="tituloP" name="tituloP" placeholder="Título Publicación"><br>
                    <input type="text" id="descripcion" name="descripcion" placeholder="Descripción"><br>
                    <input type="text" id="precioI" name="precioI" placeholder="Precio Inicial"><br>
                    <input type="text" id="precioF" name="precioF" placeholder="Precio Final"><br>
                    <select id="input5">
                        <option value="" disabled selected>Seleccione una opción</option>
                        <option value="1">Opción 1</option>
                        <option value="2">Opción 2</option>
                        <option value="3">Opción 3</option>
                    </select><br>
                    <button type="submit" id="submit-button">Submit</button>
                </form>
                <p id="modalMessage" style="color: red;"></p> <!-- Mensaje de error -->
            </div>
        </div>
    </section>
    <!--====  End of html  ====-->
    <form id="logout-form" action="/auth/logout" method="POST" style="display: none;"></form>


<script src="/js/perfi.js"></script>
</body>

</html>